<!-- 友链设置，在 sidebar.html 中插入 -->
<div class="friends">
    <hr style="color:white;border: 1px solid ">
    <p><i class="fas fa-user-friends"></i><span>FRIENDS</span></p>
    <div class="friend-links">
      {% for friend in site.data.friends %}
        {% assign protocol = friend.href | split: '://' | first %}
        {% if protocol == 'http' %}
          <a href="{{friend.href}}" class="friend-link insecure" target="_blank" rel="noopener">
            <i class="fas fa-unlock"></i>
            <span class="friend-name">{{friend.title}}</span>
          </a>
        {% else %}
          <a href="{{friend.href}}" class="friend-link" target="_blank" rel="noopener">
            <span class="friend-name">{{friend.title}}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
</div>