<!-- 友链设置，在 sidebar.html 中插入 -->
<div class="friends">
    <hr style="color:white;border: 1px solid ">
    <p><i class="fas fa-user-friends"></i><span>FRIENDS</span></p>
    <div class="friend-links">
      {% for friend in site.data.friends %}
      <a href="{{friend.href}}" class="friend-link{% if friend.insecure %} insecure{% endif %}" 
         target="_blank" rel="noopener" 
         {% if friend.insecure %}data-proofer-ignore{% endif %}>
        <span class="friend-name">{{friend.title}}</span>
      </a>
      {% endfor %}
    </div>
</div>